<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login :: Base Admin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>{% block page_title %} Symfony Workstation {% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link rel="stylesheet" href="/media/compiled/style.css" />
</head>

<body>

<div class="account-container stacked">

    <div class="content clearfix">

        <form action="" method="post">

            <h1>Insight Project</h1>

            <div class="login-fields">

                <p>Sign in using your registered account:</p>

                <div class="field">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="" placeholder="Username" class="form-control input-lg username-field" />
                </div> <!-- /field -->

                <div class="field">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="" placeholder="Password" class="form-control input-lg password-field"/>
                </div> <!-- /password -->

            </div> <!-- /login-fields -->

            <div class="login-actions">

				<span class="login-checkbox">
					<input id="Field" name="Field" type="checkbox" class="field login-checkbox" value="First Choice" tabindex="4" />
					<label class="choice" for="Field">Keep me signed in</label>
				</span>

                <button type="submit" class="login-action btn btn-primary">Sign In</button>

            </div> <!-- .actions -->

        </form>

    </div> <!-- /content -->

</div> <!-- /account-container -->


       <!-- Text Under Box -->
<div class="login-extra">
    Don't have an account? <a href="./signup.html">Sign Up</a><br/>
    Remind <a href="#">Password</a>
</div> <!-- /login-extra -->

</body>
</html>
