<script type="text/html">
    <div class="widget stacked">

        <div class="widget-header">
            <i class="icon-bookmark"></i>
            <h3>By Class</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            <div class="shortcuts">
                <a href="javascript:;" data-category="15" class="shortcut druid-avatar pre-load"></a>
                <a href="javascript:;" data-category="17" class="shortcut mage-avatar pre-load"></a>
                <a href="javascript:;" data-category="23" class="shortcut warlock-avatar pre-load"></a>
                <a href="javascript:;" data-category="14" class="shortcut death-knight-avatar pre-load"></a>
                <a href="javascript:;" data-category="24" class="shortcut warrior-avatar pre-load"></a>
                <a href="javascript:;" data-category="20" class="shortcut priest-avatar pre-load"></a>
                <a href="javascript:;" data-category="16" class="shortcut hunter-avatar pre-load"></a>
                <a href="javascript:;" data-category="21" class="shortcut rogue-avatar pre-load"></a>
                <a href="javascript:;" data-category="22" class="shortcut shaman-avatar pre-load"></a>
                <a href="javascript:;" data-category="19" class="shortcut paladin-avatar pre-load"></a>
            </div> <!-- /shortcuts -->

        </div> <!-- /widget-content -->

    </div>
</script>