<script type="text/html">
    <div class="widget stacked">

        <div class="widget-header">
            <i class="icon-bookmark"></i>
            <h3>Find Addon</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            <div id="input-filters">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="search">Search</label>
                        <input type="text" name="search" id="search" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="search" class="fixed-checkbox">
                        <input type="checkbox" name="search" id="search" />
                        Only Up to date addons
                    </label>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="shortcuts">
                <h3 class="box-header">By Class</h3>
                <div class="clearfix"></div>
                <a href="javascript:;" data-category="15" class="shortcut druid-avatar pre-load"></a>
                <a href="javascript:;" data-category="17" class="shortcut mage-avatar pre-load"></a>
                <a href="javascript:;" data-category="23" class="shortcut warlock-avatar pre-load"></a>
                <a href="javascript:;" data-category="14" class="shortcut death-knight-avatar pre-load"></a>
                <a href="javascript:;" data-category="24" class="shortcut warrior-avatar pre-load"></a>
                <a href="javascript:;" data-category="20" class="shortcut priest-avatar pre-load"></a>
                <a href="javascript:;" data-category="16" class="shortcut hunter-avatar pre-load"></a>
                <a href="javascript:;" data-category="21" class="shortcut rogue-avatar pre-load"></a>
                <a href="javascript:;" data-category="22" class="shortcut shaman-avatar pre-load"></a>
                <a href="javascript:;" data-category="19" class="shortcut paladin-avatar pre-load"></a>
            </div> <!-- /shortcuts -->

        </div> <!-- /widget-content -->

    </div>
</script>