<section data-desc="Site Statistics Region">
        <div class="widget big-stats-container stacked">

            <div class="widget-content">

                <div id="big_stats" class="cf">
                    <div class="stat">
                        <h4>Total Addons</h4>
                        <span class="value">2,321</span>
                    </div> <!-- .stat -->
                    <div class="stat">
                        <h4>Total Active</h4>
                        <span class="value">1,127</span>
                    </div> <!-- .stat -->
                    <div class="stat">
                        <h4>Updated Today</h4>
                        <span class="value">341</span>
                    </div> <!-- .stat -->

                    <div class="stat">
                        <h4>Out-Dated Addons</h4>
                        <span class="value">24%</span>
                    </div> <!-- .stat -->
                </div>

            </div> <!-- /widget-content -->

        </div> <!-- /widget -->
</section>