<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %} Symfony Workstation {% endblock %}</title>
</head>
<body>
{% block content %}{% endblock %}
{% block requireJS %}
    {% if app.environment == 'dev' %}
        <script type="text/javascript" src="/media/js/vendor/requirejs/require.js" data-main="/media/js/main.js"></script>
    {% elseif app.environment == 'prod' %}
        <script type="text/javascript" src="/media/build/js/vendor/requirejs/require.js" data-main="/media/build/js/main.js"></script>
    {% endif %}
{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>