<section data-description="Navigation Bar Template">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="icon-cog"></i>
            </button>
            <a class="navbar-brand" href="./index.html"><img src="/media/img/logo.png" alt="" /></a>
        </div>
        <div id="tools-region"></div>
    </div> <!-- /.container -->
</section>
